body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.search {
  display: flex;
  align-items: center;
  background-color: #ededed;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.125);
  width: 100%;
}

.search input {
  border: none;
  background-color: #ededed;
  width: 90%;
}

.search input:focus {
  outline: none;
}

.notes-container {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcca46;
  border-radius: 12px;
  padding: 1rem;
  min-height: 170px;
  box-shadow: rgba(0, 0, 0, 0.125);
  white-space: pre-wrap;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
}

.note h3 {
  margin: 0;
  overflow: hidden;
}

.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.note.new {
  background-color: #619b8a;
}

.note input {
  border-radius: 5px;
  padding: .2em;
  border: none;
  outline: none;
  font-size: 1em;
  max-width: 55%;
}


.note textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  padding: 0.2em;
  height: 50%;
  margin-top: 1em;
}

.note.new textarea {
  border: 0;
  resize: none;
  background-color: #619b8a;
  color: white;
}

.note.new textarea:focus {
  outline: none;
  color: white;
}

textarea::placeholder {
  color: white;
}

#add-title {
  margin: 0;
  height: 20px;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: #ededed;
}

button:hover {
  background-color: #e1e1e1;
}

.delete-icon {
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.delete-icon:hover {
  transform: scale(1.2);
}

.edit-icon {
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.edit-icon:hover {
  transform: scale(1.2);
}