body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F6F797;
  border-radius: 12px;
  padding: 1rem;
  min-height: 170px;
  box-shadow: rgba(0, 0, 0, 0.125);
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 1rem;
}